extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(2000)
    .pd
        .pd-top
            if product.thumbnail
                .pd-images
                    img(src=product.thumbnail alt=product.title)

            .pd-summary
                if product.title
                    h1.pd-title= product.title

                if product.category
                    .pd-category
                        span Danh mục:
                        a(href=`/products/${product.category.slug}`)= product.category.title

                .pd-pricing
                    if product.newPrice
                        .pd-price-new #{product.newPrice}$
                    if product.price
                        .pd-price-old #{product.price}$
                    .pd-discount Giảm giá: #{product.discountPercentage || 0}%

                .pd-stock Còn lại #{product.stock || 0} sản phẩm

                form(action=`/cart/add/${product.id}` method="POST")
                    input(class="form-control mb-2" type="number" name="quantity" value="1" min="1" max=product.stock)
                    button(type="submit" class="btn btn-success btn-block") Thêm vào giỏ hàng

        if product.description
            .pd-desc
                h2 Mô tả sản phẩm
                .pd-desc-content!= product.description

    script(src="/client/js/scripts.js")
